<% @dealerships.each do |dealership| %>
  <p><%= link_to "#{dealership.name}", "/dealerships/#{dealership.id}" %>
  <%= link_to "Click to edit #{dealership.name}.", "/dealerships/#{dealership.id}/edit"%>
  <%= link_to "Delete #{dealership.name}.", "/dealerships/#{dealership.id}", method: :delete %><br>
  <%= "Created at: #{dealership.created_at}" %></p>
<% end %>

<p><%= link_to "New dealership.", "/dealerships/new" %></p>