<p><%= link_to "Click here to view this dealership's inventory.", "/dealerships/#{@dealership.id}/cars" %></p>
  
<h3><%= @dealership.name %></h3>
<p><%= @dealership.financing_available %></p>
<p><%= @dealership.employees %></p>
<p><%= @dealership.count_of_cars %> cars available</p>

<p><%= link_to "Update Dealership.", "/dealerships/#{@dealership.id}/edit" %></p>
<p><%= link_to "Delete Dealership.", "/dealerships/#{@dealership.id}", method: :delete %></p>