<% @cars.each do |car| %>
<h3><%= "#{car.make} #{car.model}" %>
<%= link_to "Edit #{car.make} #{car.model}.", "/cars/#{car.id}/edit" %>
<%= link_to "Delete #{car.make} #{car.model}.", "/cars/#{car.id}", method: :delete %></p></h3>
<p>AWD: <%= car.awd %></p>
<p>Mileage: <%= car.mileage %></p>
<% end %>