<% @cars.each do |car| %>
  <h3><%= "#{car.make} #{car.model}" %>
  ||
  <%= link_to "Edit #{car.make} #{car.model}.", "/cars/#{car.id}/edit" %>
  ||
  <%= link_to "Delete #{car.make} #{car.model}.", "/cars/#{car.id}", method: :delete %></p></h3>
  </h3>
  <p>AWD? <%= car.awd %></p>
  <p>Mileage: <%= car.mileage %></p>
<% end %>  

<p><%= link_to "Add a new car.", "/dealerships/#{@dealership.id}/cars/new" %></p><br>

<p><%= link_to "Sort in alphabetical order.", "/dealerships/#{@dealership.id}/cars?sort=alphabetically" %></p><br>

<p>Show me cars with over:<%= form_with url: "/dealerships/#{@dealership.id}/cars", method: :get, local: true do |form| %>
<%= form.text_field :mileage %> miles.
<%= form.submit "Filter" %>
<% end %></p>
